<!-- Site footer -->
<div id="footer-color"></div>
<footer class="site-footer">
  <div>
    <p class="copyright-text">
      Copyright &copy;
      <script>
        const year = new Date().getFullYear();
        document.write(year);
      </script>. All Rights Reserved.
    </p>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src = "./assets/jquery/jquery-3.3.1.slim.min.js"></script>
<script src = "./assets/popper/popper.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>


