<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/api.css" />
    <title>AlgoLAB | APIs</title>
  </head>
  <body>
    <%- include('includes/navbar') %>

    <main id="main">
        <div class = "container my-4">
            <h2>APIs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ad neque voluptates tenetur nisi, sint mollitia facilis est! Ut obcaecati minus quos dolorem cum reprehenderit veniam autem velit hic rerum!</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>
        </div>

        <div class = "container my-4">
          <h2>1. Dummy API</h2>
          <div class = "api-link">
            <span class="badge badge-success">GET</span><a class = "pad-link">https://pingooapi/api/dummy</a>
          </div>
          
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>

          <h4>1.a. Dummy API for a specific id</h4>
          <div class = "api-link">
            <span class="badge badge-success">GET</span><a class = "pad-link">https://pingooapi/api/dummy/:id</a>
          </div>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>
        </div>

        <div class = "container my-4">
          <h2>2. Love Calculator</h2>
          <div class = "api-link">
            <span class="badge badge-info">POST</span><a class = "pad-link">https://pingooapi/api/love</a>
          </div>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>
        </div>

        <div class = "container my-4">
          <h2>3. Check your Luck today</h2>
          <div class = "api-link">
            <span class="badge badge-info">POST</span><a class = "pad-link">https://pingooapi/api/luck</a>
          </div>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>
        </div>
        <div class = "container my-4">
          <h2>4. String Features</h2>
          <div class = "api-link">
            <span class="badge badge-info">POST</span><a class = "pad-link">https://pingooapi/api/string</a>
          </div>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio harum maxime dolores repudiandae, nisi mollitia neque ratione, autem fugiat sunt esse atque praesentium sint animi totam illo illum. Eaque, optio!</p>
        </div>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
