<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <title>AlgoLAB | Contact</title>
  </head>
  <body>
    <%- include('includes/navbar') %>

    <main id="main">
        <div class = "container my-4">
            <h2>Contact Us</h2>
            <p>
              AlgoLAB is an open source project build during covid19 pandemic. It is developed by hkm007. Feel free to contact anytime.<br>
              Email - hkm0072001@gmail.com
            </p>
        </div>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
