<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />    
    <title>AlgoLAB | Lets Guess</title>
  </head>
  <body>
    <%- include('includes/navbar') %>
    
    <main id="main">
        <div class = "container my-4">
            <h2>Let's Guess</h2>
            <p>
              You have to guess a number in the range of 1 to 10 within 3 chances. Just enter the number in the box and click guess button.
            </p>
            <small style="color: red;">*Hint - One must have a concepts of binary search algorithm</small><br>
            <br>
            <div class="card col-md-8">
              <div class="card-body">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <input type="number" id="number" class="form-control" min="1" max="10" placeholder="Enter number">
                    </div>
                    <div class="col">
                      <button type="button" onclick="checkWin()" class="btn btn-primary">Guess</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-5">
                  <h4>Chances: <span id="chance"></span></h4>
                  <h4>Message: <span id="win"></span></h4><br>
                  <button type="button" onclick="location.reload()" class="btn btn-success">Reset</button>
                </div>
              </div>
            </div>
        </div>
    </main>

    <%- include('includes/footer') %>

    <script>
      let res = Math.floor(Math.random() * 10) + 1;
      let count = 3;
      let win = document.getElementById("win");
      let chance = document.getElementById("chance");
      chance.innerHTML = count;
      win.innerHTML = "Let's play!"

      function checkWin() {
        let num = document.getElementById("number").value;

        if(count > 0) {
          if(num == res) {
            win.innerHTML = "You Won!"; 
          } else if(num < res) {
            win.innerHTML = "Choose greater one";
          } else {
            win.innerHTML = "Choose smaller one";
          }
        } else if(count == 0) {
          win.innerHTML = "Game Over";
        }
        if(count > 0) chance.innerHTML = --count;
        else chance.innerHTML = 0;
      }
    </script>
  </body>
</html>
