<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />
    <link rel="stylesheet" type="text/css" href="./css/home.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <title>AlgoLAB</title>
  </head>
  <body>
    <%- include('includes/navbar') %>

    <main id="main">
      <div class="container">
        <div class="jumbotron my-4 mx-3">
          <div class="container">
            <h1 class="display-4">AlgoLAB</h1>
            <p class="lead">
              AlgoLAB is a free API service for web developers and android developers. 
            </p>
            <hr class="my-4" />
            <p>
              It uses various advanced algorithms like dynamic programming, backtracking etc alongwith various mathematical techniques.
            </p>
            <a class="btn btn-primary" href="/api" role="button"
              >Explore</a
            >
          </div>
        </div>

        <div class="container my-4">
          <p id = "intro">Getting started</p>
          <div class="accordion" id="accordionExample">

            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    <span class="badge badge-success">GET</span>
                    https://algolab7.herokuapp.com/api/dummy
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  This route accepts GET requests only. Once a client makes a request to this endpoint he/she will recieve dummy data in
                  JSON format. This route can be useful for testing API calls from your app, manipulating DOM, using list views in android etc.<br><br>
                  e.g.- <br>
                  [{
                    _id: 1,
                    name: "John Doe",
                    age: 30,
                    status: 'true'
                  },
                  {
                      _id: 2,
                      name: "Peter Parker",
                      age: 26,
                      status: 'true'
                  }]
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <span class="badge badge-success">GET</span>
                    https://algolab7.herokuapp.com/api/dummy/7
                  </button>
                </h2>
              </div>

              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  This route accepts GET requests only. Once a client makes a request to this endpoint he/she will recieve a single data object in
                  JSON format. This route can be useful for testing API calls from your app, manipulating DOM, using single element views in android etc.<br><br>
                  <span style="color: red;">*Please use the id in the range 1 to 10 only.</span><br><br>
                  e.g.- <br>
                  {
                    _id: 7,
                    name: "Thanos",
                    age: 80,
                    status: 'false'
                  }
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <span class="badge badge-info">POST</span>
                    https://algolab7.herokuapp.com/api/love
                  </button>
                </h2>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  This route accepts POST requests only. It is a fun API endpoint. Client will make a POST request on this route with his/her name and also his/her
                  partner's name. Internally server uses a dynamic programming approach to calculate the love percentage between the persons. 
                  Returns the result in JSON format. <br><br>
                  e.g.- 
                  Request data - {"Person1": "Romeo", "Person2": "Juliet"} <br>
                  Output - {
                    "Percentage": 90,
                    "Message": "Made for each other"
                  }
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    <span class="badge badge-info">POST</span>
                    https://algolab7.herokuapp.com/api/luck
                  </button>
                </h2>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  This route accepts POST requests only. It is a fun API endpoint. Client will make a POST request on this route with his/her name and day. Internally server uses a dynamic programming approach to calculate the luck percentage of the person. 
                  Returns the result in JSON format. <br><br>
                  e.g.- 
                  Request data - {"name": "John", "day": "Sunday"} <br>
                  Output - {
                    "Percentage": 75
                  }
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    <span class="badge badge-info">POST</span>
                    https://algolab7.herokuapp.com/api/string
                  </button>
                </h2>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  This route accepts POST requests only. It is a data manipulation API endpoint. Client will make a POST request on this route with a string. Internally server uses string manipulation approaches to generate various interesting results. 
                  Returns the result in JSON format. <br><br>
                  e.g.- 
                  Request data - {"str": "Himanshu Kumar Mishra"} <br>
                  Output - {
                    "lower": "himanshu kumar mishra",
                    "upper": "HIMANSHU KUMAR MISHRA",
                    "character": 21,
                    "vowels": 7,
                    "consonants": 12,
                    "space": 2
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
